html {
    scroll-behavior: smooth
}

body {
    font-family: 'Spartan', sans-serif;
    color: #1B1717;
    background-color: #EEEBDD;
}

body::after {
    content: "";
    background: url("./images/pawprint.jpg");
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.03;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-container, .intro-screen, .game-over {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: left;
    width: 65%;
}

#logo {
    display: flex;
    position: relative;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    color: #810000;
    font-size: 6rem;
    transform: rotate(-5deg);
}

#logo-img {
    display: flex;
    position: relative;
    align-items: center;
    width: 10rem;
    height: auto;
    border-radius: 100%;
    padding: 3%;
}

.start-button {
    display: flex;
    position: relative;
    margin-bottom: 2%;
    justify-content: center;
    align-self: center;
    width: 25%;
    align-items: center;
    height: 4rem;
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    background-color: #810000;
    color: #EEEBDD;
    border-radius: 5%;
}

.leader-button {
    width: 25%;
    font-size: 1.1rem;
    margin-bottom: 0%;
}

.score {
    display: flex;
    position: relative;
    width: 212px;
    border-radius: 10%;
    justify-content: center;
    align-self: center;
    color: #CE1212;
    font-size: 2rem;
    font-weight: 400;
}

.endgame {
    display: flex;
    position: relative;
    width: 65%;
    justify-content: center;
    align-self: center;
    color: #CE1212;
    font-size: 2rem;
    font-weight: 400;
}

form {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#username {
    font-family: 'Spartan', sans-serif;
    font-size: .9rem;
    color: #CE1212;
    padding: 1%;
    border: 3px double #810000;
    border-radius: 3%;
    background: none;
    width: 25%;
    align-self: center;
    margin-bottom: 2%;
}


#score-points {
    padding-left: 10px;
    padding-top: .15rem;
}

#final-score {
    font-weight: 900;
    padding-left: 5px;
}

.hide {
    display: none;
}

.dice-container {
    margin-top: 1rem;
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dice {
    display: block;
    position: relative;
    width: 15%;
    height: auto;
    object-fit: contain;
}

.dice-container img {
    border-radius: 10%;
    border: 0.4rem solid #EEEBDD;
    box-shadow: 1px 1.5px 3px #810000;
}

.roll-button {
    display: flex;
    position: relative;
    justify-content: center;
    top: 7%;
    align-self: center;
    width: 6rem;
    align-items: center;
    height: 3rem;
    font-family: 'Spartan', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    background-color: #810000;
    color: #EEEBDD;
    border-radius: 5%;
    cursor: pointer;
    z-index: 99;
}

.scoring-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 35%;
    height: 90vh;
    text-align: center;
    padding: 2% 2.5%;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    font-weight: 500;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.scores img {
    display: flex;
    align-items: center;
    width: 2.2rem;
    height: auto;
    border-radius: 100%;
    padding: 0 0.25rem;
}

.score-name {
    display: flex;
    align-items: center;
    font-size: .7rem;
    font-weight: 500;
    text-align: left;
}

.point-value {
    display: flex;
    align-items: center;
    font-size: .65rem;
    font-weight: 700;
    text-align: right;
}

.highlight {
    background-color: #810000;
    color: #EEEBDD;
    animation-name: highlight;
    animation-duration: .75s;
}

@keyframes highlight {
    0% {
        background-color: #EEEBDD;
      }
      100% {
        background-color: #810000;
        color: #EEEBDD;
      }
}

.stars {
    background-image: url("./images/star.png");
    opacity: .8;
    font-weight: 900;
    color:#810000;
    background-size: contain;
    background-position-y: -4px;
    background-color: #EEEBDD;
    background-repeat: repeat-x;
    animation-name: stars;
    animation-duration: 1s;
}

@keyframes stars {
    0% { 
        background-position-x: 0px;
      }
      100% {
        background-position-x: 212px;
    }
}

footer {
    top: 2%;
    display: flex;
    position: relative;
    justify-content: center;
    font-size: .55rem;
    color: #1B1717;
}

.rules-link, .back-link, .down-arrow {
    display: none;
}

.leaderboard {
    display: inline;
    width: 100%;
    height: 90vh;
}

.scores-title {
    font-weight: 800;
    text-align: center;
    color: #810000;
    font-size: 3.5rem;
    margin-top: 2rem;
}

.scores-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    line-height: 2;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.hs-name {
    display: flex;
    align-items: center;
    text-align: left;
    color: #1B1717;
    padding-left: 25%;
}

.hs-score {
    display: flex;
    align-items: center;
    text-align: right;
    color: #CE1212;
    font-weight: 800;
    padding-right: 25%;
}

.home-link {
    display: flex;
    position: relative;
    padding-top: 1%;
    padding-bottom: 10;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    color: #810000;
    text-decoration: none;
}

.hs-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 25%;
    height: 4rem;
    font-family: 'Spartan', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    background: none;
    color: #810000;
    border: 4px double #810000;
    border-radius: 5%;
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        position: relative;
        justify-content: center;
    }
    #logo {
        font-size: 3.2rem;
        padding-left: 1%;
        margin-top: 18%;
    }
    #logo-img {
        width: 5.5rem;
        height: auto;
        padding: 2%;
    }
    .intro-screen, .game-container, .game-over {
        width: 100%;
        top: 50;
        position: relative;
        height: 95vh;
    }
    .start-button {
        width: 45%;
        height: 3rem;
        font-size: 1rem;
        margin-top: 50;
        margin-bottom: 10;
    }
    .roll-button {
        width: 40%;
        height: 3rem;
    }
    .hs-button {
        width: 45%;
        height: 3rem;
        font-size: .8rem;
    }
    .turn {
       text-align: center;
       position: relative;
       padding-top: 15%;
    }
    .scoring-container {
        width: 100%;
        font-size: .7rem;
        text-align: center;
        align-content: center;
        padding: 5% 0;
    }
    h2 {
        font-size: 1.1rem;
    }
    .scores img {
        width: 2.2rem;
    }
    .highlight {
        display: flex;
        position: fixed;
        top: 3%;
        left: 0;
        right: 0;
        height: 3rem;
        justify-content: space-evenly;
        width: 100%;
        color: #810000;
        background: none;
        animation-timing-function: ease;
    }
    @keyframes highlight {
        0% {
            background: none;
            font-size: 2rem;
          }
    }
    .score-name {
        display: flex;
        font-size: .65rem;
        font-weight: 600;
    }
    
    .point-value {
        display: flex;
        font-size: .65rem;
        font-weight: 700;
    }
    .scores {
        display: flex;
    }
    .endgame {
        font-size: 1.5rem;
        width: 100%;
    }
    .leader-button {
        width: 45%;
        font-size: .85rem;
        margin-top: 2%;
    }
    #username {
        width: 45%;
        font-size: .7rem;
        height: 1.5rem;
        padding: 0;
    }
    .rules-link {
        display: flex;
        position: relative;
        padding-top: 5%;
        bottom: 100;
        justify-content: center;
        align-self: center;
        font-size: .9rem;
        font-weight: 400;
        color:#810000;
        text-decoration: none;
    }
    .down-arrow {
        display: flex;
        position: relative;
        bottom: 100;
        justify-content: center;
        align-self: center;
        font-size: 2rem;
        font-weight: 400;
        color:#810000;
        opacity: .5;
        text-decoration: none;
    }
    .back-link {
        display: flex;
        position: relative;
        padding-top: 5%;
        padding-bottom: 15;
        justify-content: center;
        font-size: 1rem;
        font-weight: 400;
        color: #810000;
        text-decoration: none;
    }
    .scores-title {
        font-size: 2.3rem;
        margin-top: 3rem;
    }
    
    .scores-list {
        font-size: 1rem;
    }
    
    .hs-name {
        padding-left: 15%;
    }
    
    .hs-score {
        padding-right: 15%;
    }
}



@media screen and (max-width: 500px) {
    #logo {
        font-size: 2.8rem;
    }
    .turn {
        text-align: center;
        font-size: .8rem;
    }
    .intro-screen, .game-container, .game-over {
        top: 35;
    }
     .rules-link {
        font-size: .75rem;
    }
    .down-arrow {
        align-self: center;
        opacity: .5;
    }
    .roll-button {
        height: 2.5rem;
        font-size: 1rem;
        bottom: 0;
    }
}

@media screen and (max-height: 720px) {
    .rules-link {
        font-size: .65rem;
        bottom: 25;
        padding: 0;
    }
    .down-arrow {
        align-self: center;
        opacity: .5;
        bottom: 25;
        padding: 0;
    }
    .leader-button, .hs-button {
        height: 2.2rem;
        top: 0;
        bottom: 0;
        font-size: .65rem;
    }
}